@model AbbTest2.Models.Measure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motor.MotorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motor.MotorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTorque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTorque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualCurrentA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualCurrentA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualRevsRpm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualRevsRpm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualPressureBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPressureBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeasureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
